
   /*GENERALE*/
*{margin: 0;
  padding: 0;
  box-sizing: border-box;}
#a{color: white;
   text-decoration: none;
   padding-right: 5px;}

.simbolo{ font-size: 16px;}
  
.flex-wrap{flex-wrap: wrap;}
   /*container*/

   /*HEADER*/
#header{  display: flex;
          justify-content: space-around;
          width: 100%;
          background-color: #FF6900;
          padding: 15px 0;
         position: fixed;
        z-index: 10000;}
   
.Boolean-logo{height: 30px;}
/*.debug{border: 1px solid red;}*/
.genere, .simbolo{padding-top: 10px;
                  font-weight: bold;} 
   /*END-HEADER*/      
   
   /*Main*/
 main{ margin: 0px auto;
   max-width: 1200px;}
 
 .box{display: flex;
       gap: 5px;
      flex-wrap: wrap;}
       
.div-imaggine img{display: block;
        width: 100%; 
      margin-top: 150px;}
 .div-imaggine {width: calc(( 100% - 10px ) / 3);
               position: relative;}
  
  .imaggine{height: 700px;
             padding-top: 50px;}
   
  .bold{font-weight: bold;}
  .span-red{color: red;}
  .span-riga{text-decoration: line-through;}

  .sconto-red{color: white;
              background-color: red;
              text-align: center;
              padding: 3px 10px;  }
  .sostenibilità{color: white;
                 background-color: green;
                 text-align: center;
                 padding: 3px 7px;}

   .sconto-red-sostenibilità{
                            gap: 5px;
                         position: absolute;
                         bottom: 100px;
                         display: flex;}

   
   .div-imaggine img.seconda-imaggine{ position: absolute;
     top: 0;
     left: 0;
     display: none;
}
    
     .cuore{ text-align: right;
            background-color: rgb(255, 255, 255);
           position: absolute;
           bottom: 70%;
           right: 0%;
           padding: 20px;
         
  }
            
    
    /*HOVER*/
    .div-imaggine:hover .seconda-imaggine{display: block;}
     .div-imaggine:hover .cuore {color: red;}
     #a:hover{font-size: 150%;}  

     /*FOOTER*/

     .footer{background-color: #1A1A1A;
           display: flex; 
           justify-content: space-between ;
           padding: 40px 260px; 
           margin-top: 50px;         
        }
    .boolando{ color: white;
             font-weight: bolder;
             }

    .p-footer{color: white;} 